@media screen {
	/* plain text: #000; */
	.lang-matlab .pln { color: #000000; }
	/* strings: #080; #800000; */
	.lang-matlab .str { color: #A020F0; }
	/* keywords: #00008B; */
	.lang-matlab .kwd { color: #0000FF; }
	/* comments: #808080; */
	.lang-matlab .com { color: #228B22; }
	/* types: #606; */
	.lang-matlab .typ { color: #000000; font-weight: bold; }
	/* literals: #066; #000; */
	.lang-matlab .lit { color: #800000; }
	/* punctuation: #660; */
	.lang-matlab .pun { color: #000000; }
	/* system commands */
	.lang-matlab .syscmd { color: #B28C00; }
	/* line continuation */
	.lang-matlab .linecont { color: #0000FF; }
	/* code output */
	.lang-matlab .codeoutput { color: #666666; font-style: italic; }
	/* unterminated strings */
	.lang-matlab .untermstring { color: #B20000; }
}
